<div class="row">
  <div class="col col-lg-2">
    <div class="list-group">
      <a [routerLink]="['/pagina1']" class="list-group-item list-group-item-action">
        Pagina 1
      </a>
      <a [routerLink]="['pagina2']" class="list-group-item list-group-item-action">
        Pagina 2
      </a>
      <a [routerLink]="['admin']" class="list-group-item list-group-item-action">
        Pagina 3
      </a>
    </div>
  </div>
  <div class="col col-lg-10">
    <router-outlet></router-outlet>
  </div>
</div>
